* {
    margin: 0 auto;
    padding: 0;
}

header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 35px;

}

.banner-section,
.popular,
.destination,
.choose-us,
.newsleter,.add-section {
    width: 90%;
    margin-bottom: 100px;
}

header .logo,
.menu {
    margin: 0;
}

header .logo h2 img {
    width: 32px;
}

header .logo .hero {
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}

header .logo .travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}

.menu ul {
    display: flex;
    gap: 10px;
}
.menu ul .fa-bars{
    display: none;
}
.menu ul li:first-child {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}

.menu ul li {
    list-style-type: none;
    padding: 5px;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    height: 500px;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    width: 64%;
    margin-bottom: 24px;
}

.banner p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 58%;
    margin-bottom: 48px;
}

.list ul {
    display: inline-flex;
    width: 83%;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.list ul li {
    list-style-type: none;
    /* width: 174px; */
    width: 22%;
    padding: 26px 0;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    vertical-align: middle;
    color: #FFF;
    text-align: center;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;

}

.list .find {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 700;

}

/* *************** */
.popular {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-start;
}

.popular-container h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
}

.popular-container p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 24px 0;
}

.popular-container ul li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-left: 20px;
}

.popular-container button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
}

.popular-image img {
    width: 100%;
}

/* ********** */
.destination h2,
.choose-us>h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination p,
.choose-us>p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 61%;
    margin-bottom: 48px;
}

.first-img,
.second-img,
.third-img {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}

.male {
    position: relative;
}

.maldiv,
.indonesia,
.Srilanka,
.North-America,
.Kashmir,
.Bangladesh,
.Bandarban {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.75rem;
    font-weight: 800;
    position: absolute;
    left: 36%;
    top: 50%;
}

/* ************* */
.hotel-service {
    display: flex;
    justify-content: space-between;
    gap: 110px;
    margin: 50px 0;
}

.hotel-service .hotel-service-1 {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.hotel-service .hotel-service-2 {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotel-service h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
}

.hotel-service p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;

}

.price {
    padding: 20px;
    width: 40%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-bottom: 100px;
}

.price h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
}

.price p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

/* *************** */
.newsleter {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.newsleter .content-text {
    padding: 25px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsleter .content-text hr {
    margin: 24px 0;
}

.newsleter .content-text h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsleter .content-text p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.newsleter .content-text input {
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 0;
    width: 100%;
    margin-bottom: 16px;
}

.newsleter .content-text input[type="text"] {}

.newsleter .content-text input[type="email"] {}

.newsleter .content-text input[type="submit"] {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
}

.news-image {
    position: relative;
}

.news-image img {
    width: 100%;
}

.news-image .save {
    border-radius: 16px;
    background: #FF5400;
    transform: rotate(-19.628deg);
    width: 48%;
    padding: 10px;
    position: absolute;
    right: 4px;
    bottom: 53px;
}

.news-image .save h3 {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 400;
}

.news-image .save h2 {
    color: #FFF;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}
/* *********** */
.add-section .journey{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height:400px;
    
}
.add-section > h2{
    color: #131318;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.add-section .journey1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    background: linear-gradient(#ddd7d7, #9198e5);
    padding: 10px;
    border-radius: 16px;
}

.journey1 .add-text1 h2 , .journey2 .add-text2 h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.journey1 .add-text1 p , .journey2 .add-text2 p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    /* width: 58%; */
    margin-bottom: 10px;
}
.journey1 .add-text1 button , .journey2 .add-text2 button{
    width: 165px;
    height: 45px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 800;
}

.add-img1{
    width: 50%;
}
.add-img1 img{
    width: 100%;
    height:300px;
}

.add-section .journey2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    background: linear-gradient(#ddd7d7, #9198e5);
    padding: 10px;
    border-radius: 16px;
}
.add-img2{
    width: 50%;
   
}
.add-img2 img{
    width: 100%;
    height:300px;
}

/* footer css */
footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 110px 0;
}

footer h2 {
    text-align: center;
    margin-bottom: 15px;
}

footer h2 img {
    width: 32px;
}

footer .hero {
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}

footer .travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}

footer p {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

footer ul {
    display: flex;
    justify-content: center;
    width: 12%;
    margin-bottom: 50px;
}

footer ul li {
    list-style-type: none;
}

footer hr {
    width: 85%;
    margin-bottom: 50px;
}









/* media quaries */
@media screen and (max-width:600px) {
    .list ul {
        flex-direction: column;
    }

    .list ul li {
        width: 100%;
    }

    .banner {
        background-size: contain;
        height: auto;
    }

    .popular {
        flex-direction: column;
    }

    .first-img,
    .second-img,
    .third-img {
        flex-direction: column;
        /* width: 100%; */
    }

    .destination img {
        width: 100%;
    }

    .hotel-service {
        flex-direction: column;
    }

    .price {
        width: 100%;
    }

    .choose-us>p {
        width: 100%;
    }

    .newsleter {
        flex-direction: column;
    }
    /* header .menu{
        display: none;
    } */
    .menu ul .h{
        display: none;
    }
    .menu ul .fa-bars{
        display: block;
    }
    .add-section .journey{
        flex-direction: column;
    }
    .add-section .journey1{
        width: 100%;
        flex-direction: column;
    }
    .add-section .journey2{
        width: 100%;
        flex-direction: column;
    }
    .add-img1 , .add-img2{
        width:100%;
    }
    .add-section .journey{
        height:auto;
    }

}